In [55]:
import pandas as pd # for data analysis
import numpy as np  # for numerical functions
import plotly.express as px # for interactive plots

- Load the data
- Look at the data
- if required, clean the data
- if required, transform the data
- if required, reduce the data
- if required, create new features (new columns)
- Visualize the data
- Compute statistics

In [56]:
df = pd.read_excel('Sample_Data.xlsx')
df

   id first name last name  basic salary  d.a  h.r.a  t.a deparment  fine
0   1        Ram    Sharma         30000  0.5    0.8  0.1     sales   600
1   2      Vijay    Pandey         25000  0.3    0.8  0.1  purchase   299
2   3      Imran       Ali         45000  0.4    0.8  0.1       rnd   588
3   4       Ajay    Pandey         25000  0.4    0.8  0.1     sales  1020
4   5      Vijay    Sharma         19500  0.5    0.6  0.1  purchase   399
5   6      Rohan    Kapoor         50000  0.3    0.8  0.1       rnd     0
6   7     Vidhya     Singh         52000  0.4    0.8  0.1     sales     0
7   8      Suraj     Singh         95000  0.4    1.0  0.5  purchase   299
8   9      Arjun    Kapoor         10000  0.3    0.6  0.1       rnd   299
9  10    Arun Kr    Pandey         30000  0.4    0.8  0.1  purchase   299

In [57]:
# name of the first column is 'index'
df.index

RangeIndex(start=0, stop=10, step=1)

In [58]:
df['first name']    # accessing single column which is called as 'series'

0        Ram
1      Vijay
2      Imran
3       Ajay
4      Vijay
5      Rohan
6     Vidhya
7      Suraj
8      Arjun
9    Arun Kr
Name: first name, dtype: object

In [59]:
df[['first name', 'last name']] # list of columns - data frame

  first name last name
0        Ram    Sharma
1      Vijay    Pandey
2      Imran       Ali
3       Ajay    Pandey
4      Vijay    Sharma
5      Rohan    Kapoor
6     Vidhya     Singh
7      Suraj     Singh
8      Arjun    Kapoor
9    Arun Kr    Pandey

In [60]:
# iloc - index location - row wise access
df.iloc[3]

id                   4
first name        Ajay
last name       Pandey
basic salary     25000
d.a                0.4
h.r.a              0.8
t.a                0.1
deparment        sales
fine              1020
Name: 3, dtype: object

In [61]:
df.iloc[3].tolist() # convert to list

[4, 'Ajay', 'Pandey', 25000, 0.4, 0.8, 0.1, 'sales', 1020]

In [62]:
df.iloc[-5:]    # last 5 rows

   id first name last name  basic salary  d.a  h.r.a  t.a deparment  fine
5   6      Rohan    Kapoor         50000  0.3    0.8  0.1       rnd     0
6   7     Vidhya     Singh         52000  0.4    0.8  0.1     sales     0
7   8      Suraj     Singh         95000  0.4    1.0  0.5  purchase   299
8   9      Arjun    Kapoor         10000  0.3    0.6  0.1       rnd   299
9  10    Arun Kr    Pandey         30000  0.4    0.8  0.1  purchase   299

In [63]:
df.iloc[-5:, :3]    # last 5 rows and first 3 columns

   id first name last name
5   6      Rohan    Kapoor
6   7     Vidhya     Singh
7   8      Suraj     Singh
8   9      Arjun    Kapoor
9  10    Arun Kr    Pandey

In [64]:
df.head()   # to see top 5 entries or first 5 rows

   id first name last name  basic salary  d.a  h.r.a  t.a deparment  fine
0   1        Ram    Sharma         30000  0.5    0.8  0.1     sales   600
1   2      Vijay    Pandey         25000  0.3    0.8  0.1  purchase   299
2   3      Imran       Ali         45000  0.4    0.8  0.1       rnd   588
3   4       Ajay    Pandey         25000  0.4    0.8  0.1     sales  1020
4   5      Vijay    Sharma         19500  0.5    0.6  0.1  purchase   399

In [65]:
df.tail()   # to see last 5 rows

   id first name last name  basic salary  d.a  h.r.a  t.a deparment  fine
5   6      Rohan    Kapoor         50000  0.3    0.8  0.1       rnd     0
6   7     Vidhya     Singh         52000  0.4    0.8  0.1     sales     0
7   8      Suraj     Singh         95000  0.4    1.0  0.5  purchase   299
8   9      Arjun    Kapoor         10000  0.3    0.6  0.1       rnd   299
9  10    Arun Kr    Pandey         30000  0.4    0.8  0.1  purchase   299

In [66]:
# missing data
df.isnull().sum()   # count of missing values

id              0
first name      0
last name       0
basic salary    0
d.a             0
h.r.a           0
t.a             0
deparment       0
fine            0
dtype: int64

In [67]:
# to get insights
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10 non-null     int64
 1   first name    10 non-null     object
 2   last name     10 non-null     object
 3   basic salary  10 non-null     int64
 4   d.a           10 non-null     float64
 5   h.r.a         10 non-null     float64
 6   t.a           10 non-null     float64
 7   deparment     10 non-null     object
 8   fine          10 non-null     int64
dtypes: float64(3), int64(3), object(3)
memory usage: 848.0+ bytes

In [68]:
df.describe()   # summary statistics for numerical columns

             id  basic salary        d.a      h.r.a        t.a         fine
count  10.00000     10.000000  10.000000  10.000000  10.000000    10.000000
mean    5.50000  38150.000000   0.390000   0.780000   0.140000   380.300000
std     3.02765  24106.303924   0.073786   0.113529   0.126491   301.232302
min     1.00000  10000.000000   0.300000   0.600000   0.100000     0.000000
25%     3.25000  25000.000000   0.325000   0.800000   0.100000   299.000000
50%     5.50000  30000.000000   0.400000   0.800000   0.100000   299.000000
75%     7.75000  48750.000000   0.400000   0.800000   0.100000   540.750000
max    10.00000  95000.000000   0.500000   1.000000   0.500000  1020.000000

In [69]:
df.head(3)  # maximum value inside head can be '30'

   id first name last name  basic salary  d.a  h.r.a  t.a deparment  fine
0   1        Ram    Sharma         30000  0.5    0.8  0.1     sales   600
1   2      Vijay    Pandey         25000  0.3    0.8  0.1  purchase   299
2   3      Imran       Ali         45000  0.4    0.8  0.1       rnd   588

In [70]:
df['d.a'] * df['basic salary']\         
+ df['h.r.a'] * df['basic salary']\
+ df['t.a'] * df['basic salary']\
+ df['basic salary']

SyntaxError: unexpected character after line continuation character (3682235934.py, line 1)

In [ ]:
df['total salary'] = df['d.a'] * df['basic salary']\ 
+ df['h.r.a'] * df['basic salary']\
+ df['t.a'] * df['basic salary']\
+ df['basic salary']

df.head(3)

SyntaxError: unexpected character after line continuation character (1964466531.py, line 1)

In [71]:
df['d.a'] * df['basic salary'] + df['h.r.a'] * df['basic salary'] + df['t.a'] * df['basic salary'] + df['basic salary']

0     72000.0
1     55000.0
2    103500.0
3     57500.0
4     42900.0
5    110000.0
6    119600.0
7    275500.0
8     20000.0
9     69000.0
dtype: float64

In [72]:
df['total salary'] = df['d.a'] * df['basic salary'] + df['h.r.a'] * df['basic salary'] + df['t.a'] * df['basic salary'] + df['basic salary']

df.head(3)

,id,first name,last name,basic salary,d.a,h.r.a,t.a,deparment,fine,total salary
0,1,Ram,Sharma,30000,0.5,0.8,0.1,sales,600,72000.0
1,2,Vijay,Pandey,25000,0.3,0.8,0.1,purchase,299,55000.0
2,3,Imran,Ali,45000,0.4,0.8,0.1,rnd,588,103500.0

In [73]:
df.columns.tolist()

['id',
 'first name',
 'last name',
 'basic salary',
 'd.a',
 'h.r.a',
 't.a',
 'deparment',
 'fine',
 'total salary']

In [74]:
px.area(df, x='first name', y='total salary')