- ### dictionary
    - ordered
    - mutable
    - heterogenous
    - key value pair
        - key are immutable & unique
        - value can be mutable or immutable and can be duplicate and have any type
    - unindexed
    - represented by '{}'   
    - dict() that can take key value pair as argument

- ### creating

In [1]:
fruits = {
    "apple": 2,
    "banana": 3,
    "orange": 5
}

In [2]:
grocery = {
    'fruits': ['apple', 'banana', 'orange', 'grape'],
    'vegetables': ['carrot', 'lettuce', 'onion'],
    'dairy': [ 'milk', 'cheese', 'yogurt'],
    'meat': None
}

In [4]:
# dictionary in a dictionary
reports = {
    'rajesh': {
        'English': 90,
        'Math': 79,
        'Science': 68
    },
        'Suresh': {
        'English': 50,
        'Math': 54,
        'Science': 71
    },
}

In [5]:
print(fruits)
print(grocery)
print(reports)

{'apple': 2, 'banana': 3, 'orange': 5}
{'fruits': ['apple', 'banana', 'orange', 'grape'], 'vegetables': ['carrot', 'lettuce', 'onion'], 'dairy': ['milk', 'cheese', 'yogurt'], 'meat': None}
{'rajesh': {'English': 90, 'Math': 79, 'Science': 68}, 'Suresh': {'English': 50, 'Math': 54, 'Science': 71}}

In [6]:
from pprint import pp   # pretty print

In [7]:
pp(fruits)
pp(grocery)
pp(reports)

{'apple': 2, 'banana': 3, 'orange': 5}
{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None}
{'rajesh': {'English': 90, 'Math': 79, 'Science': 68},
 'Suresh': {'English': 50, 'Math': 54, 'Science': 71}}

- fetch
- updating
- adding
- deleting

In [8]:
fruits['apple']   # retrieve 'value' from dictionary

2

In [9]:
fruits['apple'] = 10    # update 'value' in dictionary
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 5}

In [10]:
fruits['mango'] = 25    # add new 'key-value' pair in dictionary
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 5, 'mango': 25}

In [11]:
grocery['spices'] = ['cumin','corinder','turmeric'] # add new key-value pair in dictionary
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'corinder', 'turmeric']}

In [12]:
type(grocery['fruits'])

list

In [13]:
grocery['fruits'].append('mango')   # add new value in the list
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'corinder', 'turmeric']}

In [14]:
reports['rajesh']

{'English': 90, 'Math': 79, 'Science': 68}

In [15]:
reports['rajesh']['EVS'] = 99
pp(reports)

{'rajesh': {'English': 90, 'Math': 79, 'Science': 68, 'EVS': 99},
 'Suresh': {'English': 50, 'Math': 54, 'Science': 71}}

In [16]:
fruits.pop('banana')    # remove 'key-value' pair from dictionary

3

In [17]:
reports.pop('rajesh')   # remove 'key-value' pair from dictionary

{'English': 90, 'Math': 79, 'Science': 68, 'EVS': 99}

In [18]:
reports

{'Suresh': {'English': 50, 'Math': 54, 'Science': 71}}

In [20]:
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'corinder', 'turmeric']}

In [22]:
grocery['vegetables'].remove('onion')        # remove 'value' from the list

In [23]:
fruits.keys()       # get all 'keys' from dictionary

dict_keys(['apple', 'orange', 'mango'])

In [24]:
fruits.values()     # get all 'values' from dictionary

dict_values([10, 5, 25])

In [25]:
fruits.items()      # get all key-value pairs from dictionary

dict_items([('apple', 10), ('orange', 5), ('mango', 25)])

In [27]:
# Traversal
for k,v in fruits.items():
    print(k,v)

apple 10
orange 5
mango 25

In [28]:
reports['Suresh']['English']

50

In [34]:
# for avoding 'key' errors
reports.get('Suresh')

{'English': 50, 'Math': 54, 'Science': 71}

In [30]:
reports.get('ramesh')

In [32]:
reports.get('ramesh', ' ye student kabhi aya hi nhi')

' ye student kabhi aya hi nhi'

In [35]:
reports.get('Suresh', ' ye student kabhi aya hi nhi')

{'English': 50, 'Math': 54, 'Science': 71}

In [37]:
reports['sunita'] = {
    'English':90,
    'Math': 80,
    'Science':70
}

pp(reports)

{'Suresh': {'English': 50, 'Math': 54, 'Science': 71},
 'sunita': {'English': 90, 'Math': 80, 'Science': 70}}

In [39]:
for student, details in reports.items():
    print(student)
    for subject, marks in details.items():
        print(f'{marks} in {subject}')
    print('---'*10)

Suresh
50 in English
54 in Math
71 in Science
------------------------------
sunita
90 in English
80 in Math
70 in Science
------------------------------

# create a dictionary of 5 employee with details
    - name : str
    - department : str
    - salary : int
    - skills : list
    - projects : dict
        - project_name : str
        - project_duration : int
        - project_technologies : list

In [46]:
emps = {
    'e1': {
        'name' : 'Alex',
        'department' : 'HR',
        'salary' : 10000,
        'skills' : ['communication', 'management'],
        'project' : {
                'project1':{
            'project_name' : 'HRMS',
            'project_duration' : 6,
            'project_technology' : ['excel', 'power bi', 'powerpoint']
             }
        }  
    },
    'e2': {
        'name' : 'Alice',
        'department' : 'support',
        'salary' : 20000,
        'skills' : ['effective communication & management'],
        'project' : {
                'project1':{
            'project_name' : 'DBMS',
            'project_duration' : 7,
            'project_technology' : ['excel', 'Word', 'powerpoint']
             }
        }  
    },
    'e3': {
        'name' : 'James',
        'department' : 'technical',
        'salary' : 40000,
        'skills' : ['java, react, nodeJS'],
        'project' : {
                'project1':{
            'project_name' : 'RND',
            'project_duration' : 8,
            'project_technology' : ['excel', 'Word']
             }
        }  

    }
}

'''print(emps['e1'])
   print(emps['e2'])
   print(emps['e3'])'''

pp(emps)

{'e1': {'name': 'Alex',
        'department': 'HR',
        'salary': 10000,
        'skills': ['communication', 'management'],
        'project': {'project1': {'project_name': 'HRMS',
                                 'project_duration': 6,
                                 'project_technology': ['excel',
                                                        'power bi',
                                                        'powerpoint']}}},
 'e2': {'name': 'Alice',
        'department': 'support',
        'salary': 20000,
        'skills': ['effective communication & management'],
        'project': {'project1': {'project_name': 'DBMS',
                                 'project_duration': 7,
                                 'project_technology': ['excel',
                                                        'Word',
                                                        'powerpoint']}}},
 'e3': {'name': 'James',
        'department': 'technical',
        'salary': 40000,
        'skills': ['java, react, nodeJS'],
        'project': {'project1': {'project_name': 'RND',
                                 'project_duration': 8,
                                 'project_technology': ['excel', 'Word']}}}}