- ### tuple
    - python default sequential data structure
    - indexed, ordered, heterogenous
    - 'immutable'
    - represented by '()'
    - 'tuple' is faster than 'list'
    - 'tuple()' converts any sequence to tuple

- ### set
    - unordered, unindexed, mutable
    - unique elements only
    - can store only immutable elements
    - represented by {}
    - set() converts any sequence to set

In [2]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [4]:
a= 12, 13, 50   # also called [tuple packing] by default it will create tuple
print(a)
print(type(a))

(12, 13, 50)
<class 'tuple'>

In [5]:
#single element tuple
b= (13,)
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [6]:
#tuple unpacking
x1, x2, x3 = a  # a has 3 elements
print(x1,x2,x3)

12 13 50

In [8]:
#tuple unpacking
a = (1,3,5,6,7,12,14,16,17)
a1, a2, *a3 = a     #a3 will get the remaining elements as a list
# a1, *a2, a3 = a
# *a1, a2, a3 = a
print(a1,a2,a3)

1 3 [5, 6, 7, 12, 14, 16, 17]

In [12]:
#slicing
print(a[:4])  
print(a[-5:])

(1, 3, 5, 6)
(7, 12, 14, 16, 17)

In [11]:
for i in a:
    print(i)

1
3
5
6
7
12
14
16
17

In [17]:
x = (1,2,3,1,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))
print(x.count(5))
print(x.index(3))   #3 is the value to search
print(x.index(3,5)) #3 is the value to search and 5 is the starting index

4
3
0
2
7

In [19]:
a = [1,2,3]
at = tuple(a)   #list to tuple
al = list(at)   #tuple to list
print(at)
print(al)

(1, 2, 3)
[1, 2, 3]

### set

In [20]:
s = {1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [21]:
s1 = set()  # Empty set
print(s1)
print(type(s1))

set()
<class 'set'>

In [22]:
s1.add(3)
s1.add(4)
s1.add('hello')
s1.add('all')
s1.add(3)
print(s1)

{'all', 3, 4, 'hello'}

In [23]:
s1.discard(3)   #remove 3 from set 's1' (remove() can also be used)
print(s1)

{'all', 4, 'hello'}

In [25]:
for i in s1:
    print(i)

all
4
hello

In [26]:
name = set('abhishek arun')
print(name)     # Proof of set being unordered

{'h', 'n', 'a', 's', ' ', 'k', 'i', 'b', 'u', 'r', 'e'}

In [27]:
name = list('abhishek arun')
print(name)

['a', 'b', 'h', 'i', 's', 'h', 'e', 'k', ' ', 'a', 'r', 'u', 'n']

In [28]:
# set operations
group1 = {'apple', 'banana', 'orange', 'grapes', 'mango', 'pineapple', 'watermelon'}
group2 = {'apple', 'grapes', 'mango', 'pineapple', 'watermelon', 'kiwi', 'papaya', 'cherry'}

In [29]:
# union
print(group1 | group2)  #all elements from both the sets
print(group1.union(group2))

{'kiwi', 'cherry', 'watermelon', 'orange', 'apple', 'grapes', 'papaya', 'banana', 'mango', 'pineapple'}
{'kiwi', 'cherry', 'watermelon', 'orange', 'apple', 'grapes', 'papaya', 'banana', 'mango', 'pineapple'}

In [30]:
# intersection
print(group1 & group2)  #common elements from both the sets
print(group1.intersection(group2))

{'watermelon', 'apple', 'grapes', 'mango', 'pineapple'}
{'watermelon', 'apple', 'grapes', 'mango', 'pineapple'}

In [32]:
# difference
print(group1 - group2)  #elements in group1 but not in group2
print(group2 - group1)  #elemnets in group2 but not in group1
print(group2.difference(group1))

{'banana', 'orange'}
{'kiwi', 'cherry', 'papaya'}
{'kiwi', 'cherry', 'papaya'}

In [33]:
# symmetric difference
print(group1 ^ group2)  # elements in group1 or group2 but not in both
print(group1.symmetric_difference(group2))

{'kiwi', 'cherry', 'orange', 'papaya', 'banana'}
{'kiwi', 'cherry', 'orange', 'papaya', 'banana'}

- ### task
    - create a list called reports that will hold 7 students.
    - each student will have a name and marks in 3 subjects.
    - use for loop to display the report of each student

In [40]:
reports = [['Abhishek', 7,8,9], ['shadab',6,5,8], ['mihir', 5,6,9,], ['anurag', 4,9,10], ['akrama', 7,8,4], ['talha', 7,4,10], ['raj', 10,10,10]]
for i in reports:
    print(f'students name, marks in 3 subjects = {i}')

students name, marks in 3 subjects = ['Abhishek', 7, 8, 9]
students name, marks in 3 subjects = ['shadab', 6, 5, 8]
students name, marks in 3 subjects = ['mihir', 5, 6, 9]
students name, marks in 3 subjects = ['anurag', 4, 9, 10]
students name, marks in 3 subjects = ['akrama', 7, 8, 4]
students name, marks in 3 subjects = ['talha', 7, 4, 10]
students name, marks in 3 subjects = ['raj', 10, 10, 10]

In [41]:
reports = [['anurag', 7,8,9], ['mihir',6,5,8], ['abhinav', 5,6,9,], ['dipali', 4,9,10], ['sakshi', 7,8,4], ['raj', 7,4,10], ['shradhha', 10,10,10]]
for i in reports:
    print(i)

['anurag', 7, 8, 9]
['mihir', 6, 5, 8]
['abhinav', 5, 6, 9]
['dipali', 4, 9, 10]
['sakshi', 7, 8, 4]
['raj', 7, 4, 10]
['shradhha', 10, 10, 10]

In [42]:
reports = [
    ['Rohan', [
        ['Maths', 90],
        ['Science', 95],
        ['English', 85]
    ]],
    ['Sohan', [
        ['Maths', 45],
        ['Science', 60],
        ['English', 67]
    ]],
     ['Mohan', [
        ['Maths', 63],
        ['Science', 78],
        ['English', 90]
    ]],
     ['Rajesh', [
        ['Maths', 32],
        ['Science', 0],
        ['English', 10]
    ]],
     ['Rakesh', [
        ['Maths', 56],
        ['Science', 61],
        ['English', 67]
    ]],
     ['Suresh', [
        ['Maths', 10],
        ['Science', 56],
        ['English', 78]
    ]],
     ['Vimlesh', [
        ['Maths', 93],
        ['Science', 92],
        ['English', 54]
    ]],

]

In [44]:
for student in reports:
    for detail in student:
        if isinstance(detail, str):         # isinstance - checks the data type of the variable then we are printing it.
            print(detail)
        if isinstance(detail, list):
            for subject in detail:
                print(subject[0], subject[1])

Rohan
Maths 90
Science 95
English 85
Sohan
Maths 45
Science 60
English 67
Mohan
Maths 63
Science 78
English 90
Rajesh
Maths 32
Science 0
English 10
Rakesh
Maths 56
Science 61
English 67
Suresh
Maths 10
Science 56
English 78
Vimlesh
Maths 93
Science 92
English 54